.form-container {
  position: fixed;
  top: 50px; /* Adjust as needed */
  right: 50px; /* Adjust as needed */
  background-color: #8a2be2; /* Purple background color */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-input-form {
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 20px); /* Adjust padding */
  padding: 5px;
  margin-bottom: 5px;
}

button {
  padding: 8px 16px; /* Adjust padding */
  background-color: #4b0082; /* Dark purple button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6a5acd; /* Lighter purple color on hover */
}
